body {
    min-width: 350px;
}

.header__area {
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    height: 70px;
}

.profile-menu {
    /* padding: 25px; */
    text-align: left;
}

.profile-menu h4 {
    font-size: 16px;
    font-weight: bold;
    color: #0a283d;
}

.profile-menu>span {
    font-size: 12px;
    color: #6f7777;
}

.profile-menu ul {
    padding: 10px 0;
}

.profile-menu ul:before,
.profile-menu ul:after {
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.05);
    width: 32px;
    height: 1px;
}

.profile-menu ul li {
    margin: 10px 0;
}

.profile-menu ul li a {
    font-size: 16px;
    color: #6b6f81;
}

.profile-menu ul li a:hover {
    color: #f8a127;
}

.profile-menu>a.logout {
    font-size: 16px;
    color: #d51818;
}

.slider_img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.item01 {
    border-bottom: 1px solid rgba(6, 65, 106, 0.16);
    padding: 15px;
}

.detete-item li a {
    color: #d51818;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.detete-item li a:hover {
    opacity: .8;
}

.content-box {
    text-align: center;
}

.content-box img {
    max-height: 350px;
    width: auto !important;
}

.slide-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.shops-area {
    position: relative;
    /* overflow: hidden; */
}

.shops-area::after {
    content: "";
    background: url(../images/group-5.svg) repeat;
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.shops-area .container {
    position: relative;
    z-index: 9;
}

.content-box h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Cairo', sans-serif;
}

.content-box p {
    font-size: 38px;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.content-box a {
    display: block;
    background-color: #00b8cb;
    font-size: 17.3px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    height: 43px;
    line-height: 43px;
    width: 267px;
    margin: auto;
    margin-bottom: 60px;
    border-radius: 2px;
}

.content-box a:hover {
    background: #ce7852;
}

.section__title {}

.section__title h1 {
    font-size: 50px;
    text-align: center;
    color: #e16654;
    margin-bottom: 20px;
}

.products-area .section__title h1 {
    color: #8974ac;
}

.section__title p {
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.13px;
    color: #010202;
    margin-bottom: 40px;
}

.shop-block {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 20px 0;
    text-align: center;
    text-indent: .1em;
    transition: all 0.35s;
    z-index: 4;
}

.shop-block::before {
    content: '';
    position: absolute;
    top: 2%;
    bottom: -2%;
    right: 2%;
    left: -2%;
    border-radius: 5% / 20%;
    background: #fff;
    z-index: 2;
    transform: scale(1, 1);
    transition: all 0.35s;
}

.shop-block:hover {
    transform: scale(1.03);
}

.shop-block:hover::before {
    transform: scale(1, 1);
    background: #eee;
    top: 2%;
    bottom: -2%;
    right: 2%;
    left: -2%;
}

.shop-block:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 0.8px #010202;
    border-radius: 5% / 20%;
    z-index: 3;
}

.shop-content {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    padding: 25px 20px;
}

.img-container {
    height: 76px;
}

.shop-content h3 {
    font-size: 22.5px;
    font-weight: 600;
    color: #010202;
}

.shop-content p {
    font-size: 14.4px;
    text-align: center;
    color: #313131;
    margin-bottom: 50px;
}

.shop-content a {
    display: block;
    background-color: #00b8cb;
    font-size: 14.4px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    margin: auto;
    position: absolute;
    bottom: -15px;
    transition: all .3 ease-in-out;
    right: 0;
    left: 0;
    max-width: 170px;
    border-radius: 2px;
}

.shop-content a:hover {
    background: #ce7852;
}

.shops-area-top {
    position: absolute;
    z-index: 1;
    top: -35%;
    right: 0;
    max-width: 350px;
}

.shops-area-bottom {
    position: absolute;
    z-index: 1;
    bottom: -95%;
    left: 0;
    z-index: -1;
}

.products-area {
    position: relative;
    z-index: 2;
    background-image: linear-gradient(143deg, #ecf6f7 30%, #fbfbfb 93%);
}

.products-area::after {
    content: "";
    background: url(../images/group-13.png) repeat;
    /* opacity: 0.05; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.product_block {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(60, 29, 137, 0.08);
    background-color: #ffffff;
    margin: 25px 0;
    transition: all .3s ease-in;
    position: relative;
}

.product_block:hover {
    box-shadow: 0 7px 15px 0 rgba(60, 29, 137, 0.08);
    transform: scale(1.03);
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
    margin: 20px 0;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #00b8cb;
}

.visit-shop {
    border-radius: 10px;
    border: solid 1px #00b8cb;
    background-color: #ffffff;
    font-family: Cairo;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #00b8cb;
    transition: all .2s ease-in;
    width: 164px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    display: block;
    margin: auto;
}

.visit-shop:hover {
    background: #f8a127;
    border-color: #f8a127;
    color: #fff;
}

.add_to_cart_button {
    width: 46px;
    height: 46px;
    line-height: 1;
    text-align: center;
    color: #fff;
    background: #00b8cb;
    border-radius: 10px;
    font-size: 36px;
    display: inline-block;
    float: right;
}

.add_to_cart_button:hover {
    background: #f8a127;
    color: #fff;
}

.footer__area {
    background: url(../images/group-5.svg) no-repeat fixed;
    background-size: cover;
}

.about_wrapper {}

.about_wrapper h1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    text-indent: .1em;
    transition: all 0.35s;
    z-index: 4;
    font-size: 50px;
    line-height: 1.22;
    text-align: center;
    color: #ffffff;
    padding: 30px;
    margin: 0;
}

.about_wrapper h1 span {
    position: relative;
    z-index: 2;
}

.about_wrapper h1:before {
    content: '';
    position: absolute;
    top: 3%;
    bottom: -3%;
    right: 1%;
    left: -1%;
    border-radius: 5% / 20%;
    background: #8974ac;
    z-index: 2;
    transform: scale(1, 1);
    transition: all 0.35s;
}

.about_wrapper h1:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 0.8px #010202;
    border-radius: 5% / 20%;
    z-index: 3;
}

.about_wrapper p {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    text-indent: .1em;
    transition: all 0.35s;
    z-index: 4;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    padding: 15px;
    top: -15px;
    margin: 0;
    width: 80%;
    margin: auto;
}

.about_wrapper p span {
    position: relative;
    z-index: 2;
}

.about_wrapper p:before {
    content: '';
    position: absolute;
    top: 3%;
    bottom: -3%;
    right: 1%;
    left: -1%;
    border-radius: 5% / 20%;
    background: #00b8cb;
    z-index: 2;
    transform: scale(1, 1);
    transition: all 0.35s;
}

.about_wrapper p:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 0.8px #010202;
    border-radius: 5% / 20%;
    z-index: 3;
}

.testimonials {
    width: 80%;
    margin: 60px auto;
}

.about-slider {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    text-indent: .1em;
    transition: all 0.35s;
    z-index: 4;
}

.about-slider .owl-stage-outer {
    position: relative;
    z-index: 4;
}

.about-slider:before {
    content: '';
    position: absolute;
    top: 3%;
    bottom: -3%;
    right: 1%;
    left: -1%;
    border-radius: 5% / 20%;
    background: #fff;
    z-index: 2;
    transform: scale(1, 1);
    transition: all 0.35s;
}

.about-slider:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 0.8px #010202;
    border-radius: 5% / 20%;
    z-index: 3;
}

.about-slider .owl-dots {
    position: relative;
    bottom: -40px;
    z-index: 5;
    display: inline;
    padding: 3px 25px;
}

.about-slider .owl-dots .owl-dot {
    position: relative;
    z-index: 6;
}

.about-slider .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 0 5px;
}

.about-slider .owl-dots:before {
    content: '';
    position: absolute;
    top: 3%;
    bottom: -3%;
    right: 1%;
    left: -1%;
    border-radius: 5% / 20%;
    background: #fff;
    z-index: 2;
    transform: scale(1, 1);
    transition: all 0.35s;
}

.about-slider .owl-dots:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid 0.8px #010202;
    border-radius: 5% / 20%;
    z-index: 3;
}

.about-block {
    padding: 5%;
    padding-bottom: 0;
}

.about-block p {
    font-size: 18px;
    line-height: 1.42;
    text-align: center;
    color: rgba(0, 0, 0, 0.71);
}

.about-block h4 {
    font-size: 12.8px;
    font-weight: 600;
    line-height: 1.63;
    letter-spacing: 1.2px;
    color: #00b8cb;
    margin: 15px 0;
}

.about-block label {
    font-size: 12.8px;
    font-weight: normal;
    line-height: 1.94;
    letter-spacing: 0.08px;
    color: #6f7777;
}

.copyright__wrapper {
    background: rgba(0, 184, 203, .97);
}

.footer-social {
    text-align: center;
}

.footer-social::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.footer-social .icon {
    display: inline-block;
    font-size: 24px;
    line-height: 41px;
    height: 41px;
    width: 41px;
    margin-right: 15px;
    color: #00b8cb;
    border-radius: 10px;
    position: relative;
}

.footer-social .icon i {
    position: relative;
    z-index: 2;
}

.footer-social .icon::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    background: #fff;
    z-index: 1;
}

.footer-social .icon::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    transform: scale(0);
    background: #00b8cb;
    border-radius: 10px;
    z-index: 1;
}

.footer-social .icon:hover {
    animation-name: bubble2;
    animation-duration: 0.5s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

.footer-social .icon:hover::after {
    animation-name: bubble;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.footer-social .icon-twitter::after {
    background: #4099ff;
}

.footer-social .icon-facebook::after {
    background: #3b5998;
}

.footer-social .icon-linkedin::after {
    background: #3f729b;
}

@-moz-keyframes bubble {
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes bubble {
    100% {
        transform: scale(1);
    }
}

@-o-keyframes bubble {
    100% {
        transform: scale(1);
    }
}

@keyframes bubble {
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes bubble2 {
    100% {
        color: #fff;
    }
}

@-webkit-keyframes bubble2 {
    100% {
        color: #fff;
    }
}

@-o-keyframes bubble2 {
    100% {
        color: #fff;
    }
}

@keyframes bubble2 {
    100% {
        color: #fff;
    }
}

.modal-content {
    box-shadow: 0 20px 30px 0 rgba(60, 29, 137, 0.08);
    background-color: #ffffff;
    border: none;
}

.modal-dialog {
    margin: 80px auto;
}

.modal-product {
    padding: 50px;
}

.shop-title {
    font-size: 40px;
    line-height: 2.44;
    color: #00b8cb;
}

.product__nav {
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 10px 20px 0 rgba(6, 65, 106, 0.16);
    background-color: #ffffff;
    justify-content: space-around;
}

.product__nav>a {
    border-bottom: 1px solid transparent;
    padding: 25px;
    border-left: none;
}

.product__nav a:hover,
.product__nav a.active {
    border-bottom: 1px solid #00b8cb;
    color: #00b8cb;
}

.wn__single__product .modal-product {
    border-radius: 3px;
    box-shadow: 0 20px 30px 0 rgba(60, 29, 137, 0.08);
    background-color: #ffffff;
    justify-content: space-around;
    padding: 40px 100px 40px;
}

.product__info__detailed {
    margin: 50px 0;
}

.product__info__detailed h2 {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.02;
    color: #8974ac;
}

.product__info__detailed .description__attribute p {
    font-size: 18px;
    color: #6f7777;
    line-height: 30px;
    margin-top: 20px;
}

.slider .product .product__thumb .first__img img {
    margin: 0;
}

.slick-slide .product__thumb {
    padding: 0;
    margin: 2%;
}

.slick-slide.slick-center .product__thumb a::after,
.product.slick-slide:hover .product__thumb a::after {
    width: 100%;
    left: 0;
    top: 0;
    height: 180px;
}

.slick-arrow {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 20px 30px 0 rgba(60, 29, 137, 0.08);
    background-color: #ffffff;
    color: #00b8cb;
    cursor: pointer;
    font-size: 18px;
    line-height: 60px;
    position: absolute;
    text-align: center;
    top: 33%;
    z-index: 1;
    padding: 0;
}

.slick-arrow.wen-slick-prev {
    left: 8%;
}

.slick-arrow.wen-slick-next {
    right: 8%;
}

.slick-arrow:hover {
    color: #f8a127;
    border-color: #f8a127;
    transition: all 300ms ease-in 0s;
}

.section-title h1 {
    font-family: 'little_dreamer';
    font-size: 50px;
    line-height: 0.98;
    color: #8974ac;
}

.section-title p {
    font-size: 20px;
    line-height: 1.28;
    letter-spacing: 0.13px;
    color: #010202;
    margin-top: 15px;
}

.best-seel-area .slick-dots {
    bottom: -60px;
}

.best-seel-area .slick-dots li.slick-active {}

.best-seel-area .slick-dots li button {
    background: #b4b8b8;
    height: 2px;
    padding: 0;
}

.best-seel-area .slick-dots li.slick-active button {
    background: #00b8cb;
}

.slick-dots li button:before {
    display: none;
}

.account__title {
    border-radius: 8px;
    box-shadow: 0 20px 30px 0 rgba(60, 29, 137, 0.08);
    background-color: #ffffff;
    font-size: 40.8px;
    line-height: 1.2;
    text-align: center;
    color: #00b8cb;
    padding: 15px 30px;
}

.account__form {
    border-radius: 8px;
    box-shadow: 0 20px 30px 0 rgba(60, 29, 137, 0.08);
    background-color: #ffffff;
    border: none;
    padding: 30px;
}

.account__form .input__box input,
.account__form .input__box textarea {
    border: solid 1px #f0f0f0;
    background-color: #fbfbfb;
    border-radius: 24px;
    min-height: 48px;
    padding: 0 16px;
    margin-bottom: 16px;
    transition: all .2s ease-in;
}

.account__form .input__box textarea {
    width: 100%;
    padding: 15px;
    min-height: 120px;
}

.account__form .input__box input:focus,
.account__form .input__box textarea:focus {
    border: 1px solid #f8a127;
    box-shadow: none;
    outline: none;
}

.account__form .form__btn button {
    border-radius: 10px;
    border: solid 1px #00b8cb;
    background-color: #ffffff;
    height: 48px;
    display: block;
    line-height: 48px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #00b8cb;
}

.account__form .form__btn button:hover {
    background: #00b8cb;
    color: #fff;
}

.new-account {
    border-radius: 8px;
    box-shadow: 0 20px 30px 0 rgba(60, 29, 137, 0.08);
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.new-account h4 {
    font-size: 16px;
    color: #6f7777;
}

.new-account h4 a {
    color: #00b8cb;
}

.new-account h4 a:hover {
    color: #f8a127;
}

.bg-account {
    background: url(../images/login.svg) no-repeat;
    background-size: cover;
}

.bg-blog {
    background: url(../images/login.svg) repeat-y;
    background-size: cover;
}

.my__account__wrapper .footer-social .icon {
    height: 65px;
    width: 65px;
    margin: 20px;
    line-height: 65px;
    color: #fff;
}

.my__account__wrapper .footer-social .icon::before {
    background: #010202;
}

.ft__logo img {
    height: 130px;
    margin-right: 10px;
}

.ft__logo img:first-of-type {
    height: 150px;
}

.mean-container a.meanmenu-reveal {
    font-size: 0 !important;
    background: url(../images/menu.svg) no-repeat;
    width: 41px;
    height: 33px;
    padding: 3px;
    margin: 7px 0;
}

.mean-container a.meanmenu-reveal span {
    display: none;
}

.mean-container a.meanmenu-reveal.meanclose {
    background: url(../images/close.svg) no-repeat;
    font-size: 0 !important;
}

.is-sticky .mean-container a.meanmenu-reveal {
    margin: 15px 0;
}

.blog-page .blog__post {}

.blog-page .blog__post .content {
    border-radius: 3.2px;
    box-shadow: 0 5px 10px 0 rgba(60, 29, 137, 0.08);
    background-color: #ffffff;
    padding: 30px 25px;
}

.blog-page .blog__post .content label {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 1.5px;
    color: #6f7777;
}

.blog-page .blog__post .content h4 a {
    font-family: 'Cairo', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.79;
    color: #010202;
    text-transform: capitalize;
}

.blog-details .thumb img {
    width: 100%;
}

.blog-details .blog__post .content label {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 1.5px;
    color: #6f7777;
    margin: 30px 0;
}

.blog-details .blog__post .content h4 {
    font-family: 'Cairo', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.19;
    color: #010202;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.blog-details .blog__post .content p {
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: normal;
    color: #6f7777;
    margin-bottom: 20px;
}

.blog-details .social-sharing {
    box-shadow: 0 20px 30px 0 rgba(60, 29, 137, 0.08);
    background-color: #ffffff;
    display: flex;
    padding: 30px 15px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.blog-details .social-sharing h4 {
    font-family: Helvetica;
    font-size: 22.4px;
    line-height: 1.71;
    color: rgba(0, 0, 0, 0.87);
}

.add_copoun {
    padding: 15px;
    border-bottom: 1px solid rgba(69, 73, 91, 0.08);
}

.add_copoun a {
    font-family: Cairo;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #f8a127;
}

.form__coupon {
    display: flex;
}

.myAccount .myaccount-data .input_box input {
    display: none;
}

.myAccount .myaccount-data .input_box input[readonly="readonly"] {
    opacity: .6;
}

.myAccount .input_box p {
    font-family: Cairo;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0a283d;
}

.myAccount .myaccount-data .saveChanges {
    display: none;
}

.aboutUs:before {
    content: "";
    background: url(../images/group-13.png) repeat;
    /* opacity: 0.05; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


/* about */

.about-title {}

.about-title h1 {
    font-size: 51px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #f8a127;
    margin-bottom: 35px;
}

.about-title p {
    font-family: Cairo;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.13px;
    color: #6f7777;
    margin-bottom: 20px;
}

.faq .checkout__title {
    border: solid 0.8px #dddddd;
    background-color: #ffffff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.faq .checkout__title:after {
    content: "";
    position: relative;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
    vertical-align: middle;
    font-size: 20px;
}

.faq .checkout__title[aria-expanded="true"] {
    background-color: #eee;
}

.faq .checkout__title[aria-expanded="true"]:after {
    content: '\f077';
    color: #00b8cb;
}

.faq .checkout__title[aria-expanded="false"]:after {
    content: '\f078';
    color: #8e949d;
}

.faq .checkout__title h3 {
    font-family: Cairo;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: normal;
    color: #010202;
    display: inline-block;
}

.faq .collapse,
.faq .collapsing {
    background: #fff;
}

.faq .collapse p,
.faq .collapsing p {
    font-family: Cairo;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6f7777;
    padding: 20px;
}

.faq .checkout__title[aria-expanded="true"] h3 {
    color: #00b8cb;
}

.about-contrainer {
    border-radius: 6px;
    box-shadow: 0 10px 30px 0 rgba(1, 2, 2, 0.11);
    background-color: #ffffff;
    display: flex;
    padding: 50px;
    align-items: flex-start;
    margin-bottom: 30px;
    /* flex-wrap: wrap; */
}

.about-contrainer img {
    width: 150px;
    max-height: 100%;
    margin-right: 40px;
}

.about-content h2 {
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.51;
    letter-spacing: normal;
    margin-bottom: 40px;
    display: inline-block;
    max-width: 80%;
    line-height: 82px;
}

.about-content.purple h2 {
    color: #8974ac;
    background: url(../images/about.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 82px;
    text-align: center;
}

.about-content.orange h2 {
    color: #f8a127;
    background: url(../images/about1.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 82px;
    text-align: center;
}

.about-content.red h2 {
    color: #e16654;
    background: url(../images/about2.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 82px;
    text-align: center;
}

.about-content.sky h2 {
    color: #00b7ca;
    background: url(../images/about3.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 82px;
    text-align: center;
}

.about-content p {
    font-family: Cairo;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6f7777;
}

@media only screen and (max-width: 1199px) {
    .footer__menu .footer__content .mainmenu li {
        padding: 0 10px;
    }
    .shops-area-top {
        display: none;
    }
    .aboutUs:before {
        display: none;
    }
    .products-area::after {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .shops-area-top {
        display: none;
    }
    .section__title h1 {
        font-size: 40px
    }
    .shop-block:after {
        margin-bottom: 30px;
    }
    .shop-content a {
        bottom: 15px;
    }
    .products-area::after {
        display: none;
    }
    .footer__menu {
        flex-direction: column;
    }
    .footer__menu .footer__content .mainmenu {
        text-align: center;
        margin: 20px 0;
    }
    .footer__menu .footer__content .mainmenu li {
        padding: 0 10px;
    }
    .about-content h2 {
        font-size: 32px;
        background: none;
    }
    .shops-area-bottom {
        display: none;
    }
    .slider--15 .slide .slider__content p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .shops-area-top {
        display: none;
    }
    .section__title h1 {
        font-size: 40px
    }
    .shop-block:after {
        margin-bottom: 30px;
    }
    .shop-content a {
        bottom: 15px;
    }
    .products-area::after {
        display: none;
    }
    .wn__single__product .modal-product {
        padding: 20px;
    }
    .product__nav {
        flex-direction: column;
    }
    .footer__menu {
        flex-direction: column;
    }
    .footer__menu .footer__content .mainmenu {
        text-align: center;
        margin: 20px 0;
    }
    .about-contrainer {
        flex-wrap: wrap;
    }
    .about-content h2 {
        font-size: 32px;
        background: none;
    }
    .aboutUs::before {
        display: none;
    }
    .slider--15 .slide .slider__content p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 544px) {
    .shops-area-top {
        display: none;
    }
    .section__title h1 {
        font-size: 40px
    }
    .shop-block:after {
        margin-bottom: 30px;
    }
    .shop-content a {
        bottom: 15px;
    }
    .products-area::after {
        display: none;
    }
    .wn__single__product .modal-product {
        padding: 20px;
    }
    .product__nav {
        flex-direction: column;
    }
    .footer__menu {
        flex-direction: column;
    }
    .footer__menu .footer__content .mainmenu {
        text-align: center;
        margin: 20px 0;
    }
    .about-contrainer {
        flex-wrap: wrap;
    }
    .about-content h2 {
        font-size: 32px;
        background: none;
    }
    .aboutUs::before {
        display: none;
    }
    .order_product li .book-detail {
        flex-direction: column;
        align-items: baseline;
    }
    .slider--15 .slide .slider__content p {
        font-size: 16px;
    }
    .about-content h2 {
        line-height: 40px;
        background: none !important;
    }
}